<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="./addEmployee">
	Enter Employee ID <input type="text" name="empId"><br><br>
	Enter Name <input type="text" name="name"><br><br>
	Enter Department <input type="text" name="department"><br><br>
	Enter Designation <input type="text" name="designation"><br><br>
	Enter Salary <input type="text" name="salary"><br><br>
	Enter Date Of Joining <input type="date" name="doj"><br><br>
	<input type="submit" value="Add Employee">
</form>
</body>
</html>