<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Employee Management System</h1>
<hr> <!-- Horizontal Row -->
<h2>Employee PaySlip</h2>
<table border="1">
	<!-- tr: Table Row -->
	<tr>
		<!-- Table Header -->
		<th>Employee ID</th>
		<th>Allowance A</th>
		<th>Allowance B</th>
		<th>Deduction</th>
		<th>Total Salary</th>

	</tr>
	<tr>
	<!-- table data -->
		<td th:text="${payslip.employee.empId}"></td>
		<td th:text="${payslip.allowanceA}"></td>
		<td th:text="${payslip.allowanceB}"></td>
		<td th:text="${payslip.deduction}"></td>
		<td th:text="${payslip.totalSalary}"></td>
	</tr>
</table>
<br><br>
<a href="./">Go Back to Menu Page</a>
</body>
</html>